---
const { title } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={`${base}favicon.svg`} />
    <title>{title}</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        background-color: azure;
      }

      nav {
        font-size: 1.3rem;
        background: #222;
        padding: 1.8rem;
        position: sticky;
        top: 0;
      }

      nav a {
        color: white;
        margin-right: 10px;
        text-decoration: none;
      }

      nav a:hover {
        text-decoration: underline;
      }

      main {
        font-size: 1.1rem;
        padding: 3rem 6rem;
      }

      @media (max-width: 768px) {
        main {
          padding: 1rem;
          font-size: 1rem;
        }
      }

      :global(.headings) {
        margin-left: 2rem;
        margin-bottom: 4rem;
      }

      :global(.content img) {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 1.5rem auto;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      :global(.content h2) {
        margin-top: 2rem;
        color: #333;
      }

      :global(.content p) {
        text-align: justify;
        line-height: 1.6;
        margin-bottom: 1rem;
        padding: 0 1rem;
      }

         :global(.presentation-section) {
        margin-bottom: 5rem;
      }
      

      :global(.tutorial-headings) {
        margin-bottom: 4rem;
      }

      :global(.tutorial-section, .tutorial-sub-headings) {
        max-width: 85%;
        height: auto;
        margin: 1.5rem auto;
        margin-bottom: 3rem;
      }

      @media (max-width: 768px) {
        :global(.tutorial-section, .tutorial-sub-headings) {
          max-width: 95%;
        }
      }

      :global(.tutorial-sub-headings) {
        margin-top: 6rem;
      }

      :global(.tutorial-section p) {
        /* margin-right: 26rem; */
        line-height: 1.7rem;
        text-align: justify;
      }

      :global(.tutorial-content img) {
        display: block;
        min-width: 40%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      :global(#code) {
        background-color: #1e1e1e;
        max-width: 85%;
        color: #d4d4d4;
        font-family: "Fira Code", monospace;
        border-radius: 8px;
        overflow-x: auto;
        line-height: 1.5;
        font-size: 0.8rem;
        padding: 5px;
      }

      @media (max-width: 768px) {
        :global(#code) {
          max-width: 100%;
        }
      }

    

    </style>
  </head>
  <body>
    <nav>
      <a href={`${base}`}>Home</a>
      <a href={`${base}presentation`}>Presentation</a>
      <a href={`${base}tutorial`}>Tutorial</a>
    </nav>

    <main>
      <slot />
    </main>
  </body>
</html>
